.body .titulo{
    color: #D2D2D2;
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
}

.body .titulo:hover{
    color: #62BE5D;
    transition: 0.3s;
}

.body{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    padding: 20px 0px;
    background-color: #2e2e2ed5; /* Example background color */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(22, 22, 22, 0.2);
}

.banner{
    width: 100%;
    margin-top: 80px
}